[submodule "CRA-Check/libs/GrypeCLIWrapper"]
	path = CRA-Check/libs/GrypeCLIWrapper
	url = https://github.com/cracheck/GrypeCLIWrapper.git
[submodule "CRA-Check/libs/SyftCLIWrapper"]
	path = CRA-Check/libs/SyftCLIWrapper
	url = https://github.com/cracheck/SyftCLIWrapper.git
[submodule "libs/SyftCLIWrapper"]
	path = libs/SyftCLIWrapper
	url = https://github.com/cracheck/SyftCLIWrapper.git
[submodule "libs/GrypeCLIWrapper"]
	path = libs/GrypeCLIWrapper
	url = https://github.com/cracheck/GrypeCLIWrapper.git
